name: CI

on: 
  push:
    branches:
      - main
  workflow_dispatch:
    
jobs:
  unit-tests-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          cache-dependency-path: bugtracker_backend/go.sum
          
      - name: Execute Backend Unit Tests
        working-directory: ./bugtracker_backend
        run |
          go test -v ./...